<div class="video-block-container">
    <div class="video-block-wrapper">
        <div class="video-category-container">
            <h5>Recommended</h5>
        </div>
        <div class="video-content-container">
            <div class="video-content-wrapper row">
                <app-video-content class="col-3"></app-video-content>
                <app-video-content class="col-3"></app-video-content>
                <app-video-content class="col-3"></app-video-content>
                <app-video-content class="col-3"></app-video-content>
                <app-video-content class="col-3"></app-video-content>
            </div>            
        </div>
    </div>
</div>