
@import '~src/scss/functions';
@import '~src/scss/variable';
@import '~src/scss/mixins';

.menu-item-container{
     .menu-item-wrapper{
         display: flex;
        .menu-item {
            list-style-type: none;
            padding: 0 em(10);
            &:first-child(){
                padding-left: 0;
            }
            &:last-child(){
                padding-right: 10px;
            }
            a{
                @include textStyle($color: $black, $lspace : 1 );
                &:hover {
                    text-decoration: none;
                }
            }
            &:not(.profile){               

                &.active, &:hover {
                
                    a{
                        @include activeState();
                    }
                }
             
            }
            &.profile {
                .profile-item-container {
                    display: none;
                }
                &.active {
                    > a {
                        @include activeState();
                        &:hover {
                            @include activeState();
                        }
                    }
                    .profile-item-container {
                        display: block;
                        margin-top: em(15);
                        position: absolute;

                        ul{
                            padding: 0;
                            li {
                                list-style-type: none;
                                &:hover {
                                    a{
                                        @include activeState($border: 0);
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }

}