<div class="menu-item-container">
    <ul class="menu-item-wrapper">
        <li class="menu-item ">
            <a href="#">Home</a>
        </li>
        <li class="menu-item">
            <a href="#">About</a>
        </li>
        <li class="menu-item profile active">
            <a href="#">Profile</a>
            <div class="profile-item-container">
                <ul>
                    <li class="profile-item">
                        <a href="#">Account</a>
                    </li>
                    <li class="profile-item">
                        <a href="#">My Videos</a>
                    </li>
                    <li class="profile-item">
                        <a href="#">Sign-out</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>