<div class="video-container">
    <div class="video-wrapper">
        <div class="video">
            <div class="video-main" style="background-image:url('assets/images/eut.png')"></div>
        </div>
        <div class="video-label-container">
            <div class="video-title-container">
                <div class="user-photo-container">
                    <a href="#">
                        <img src="assets/images/eut.png" alt="user profile photo">
                    </a>
                </div>
                <div class="video-title">
                    <a href="#">This is a placeholder for the video title</a>
                </div>
            </div>
            <div class="video-details-container">
                <a href="#" class="user-uploader">User Name</a>
                <br>
                <a href="#" class="views-container">123K Views</a>
                <span> | </span>
                <a href="#" class="uploaded-time">2 hours ago</a>
            </div>
        </div>
    </div>
</div>